.title {
    font-size: 36px;
    margin: 40px 0;
}

.cap {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.container {
    width: 800px;
    height: 250px;
    border-radius: 16px;
    background-color: #E4E4E4;
    margin: auto;
    margin-top: 50px;
    position: relative;
}