.element{
    width: 550px;
    padding: 10px 20px;
    border: 2px solid #E4E4E4;
    border-radius: 10px;
    align-content: start;
    margin-bottom: 20px;
}

.container {
    width: 550px;
    text-align: start;
}